body{
    margin: 0;
    padding: 0;
}
.main-bg{
    background-color: #24353f;
}
h1{
    color: #17a2b8;
}
input{
    background-color: transparent !important;
    color: white !important;
}
input::placeholder{
    color: #fff !important;
}
.btn-style{
    background-color: transparent ;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    transition: all 0.30s;
}
.btn-style:hover{
    background-color: #17a2b8 ;
    color: white;
}
p a{
    background-color: transparent;
    color: #17a2b8;
    
}
.logout{
    position: absolute;
    top: 10px;
    right: 10px;
}